<form class="card border position-absolute top-50 start-50 translate-middle" style="width: 18rem" action="/answer" data-turbo="false">
  <input type="text" name="question" value="<%= params[:question] %>" placeholder="What is your question?">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
